body {
    background-color: rgb(83, 86, 84);
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}

button {
    background-color: black;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    padding: none;
    text-align: left;
    text-decoration: none;
    display: inline-block;
}

.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    padding-top: 20px; }

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    text-align: left;
    font-size: 25px;
    color: whitesmoke;
    display: block;
}

.sidenav dropdown-btn {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    text-align: left;
    font-size: 25px;
    color: whitesmoke;
    display: block;
}

.sidenav a.active {
    background-color: steelblue;
    color: whitesmoke;
}

.sidenav dropdown-btn.active {
    background-color: steelblue;
    color: whitesmoke;
}

.sidenav a:hover:not(.active) {
    background-color: whitesmoke;
    color:  black;
}

.sidenav dropdown-btn:hover:not(.active) {
    background-color: whitesmoke;
    color: black;
}

.dropdown-container {
    display: none;
    background-color: black;
    padding-left: 10px;
}

.fa-caret-down {
    float: right;
    padding-right: 20px;
    background-color: blueviolet;
    border-color: whitesmoke;
}

.main {
    margin-left: 200px;
}

@media screen and (max-width: 700px) {
    .sidenav {
        width: 100%;
        height: auto;
        position: relative;
    }

    .sidenav a {
        text-align: left;
        float: left;
    }

    .main {
        margin-left: 0;
    }
}

@media screen and (max-width: 400px) {
    .sidenav {
        width: 100%;
        height: auto;
        position: relative;
    }

    .sidenav a {
        text-align: left;
        float: none;
    }

    .main {
        margin-left: 0;
    }
}
